version: 2

jobs:
  test:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run: echo "Node version:" `node --version`
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Setup build environment
          command: |
            sudo apt-get update
            sudo apt-get install -y libxkbfile-dev pkg-config libsecret-1-dev libxss1 dbus xvfb libgtk-3-0
            sudo cp src/test/xvfb.init /etc/init.d/xvfb
            sudo chmod +x /etc/init.d/xvfb
            sudo update-rc.d xvfb defaults
            sudo service xvfb start
      - run:
          name: Build
          command: 'yarn run vscode:prepublish'
      - run:
          name: Test
          command: 'DISPLAY=:10 yarn test'
      - run:
          name: Lint
          command: 'yarn run prettier:check'
workflows:
  version: 2
  test:
    jobs:
      - test